body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   min-height: 100vh;

}
.container{
  flex: 1;
}
a{
    text-decoration: none;
}
.navbar{
    
    height: 5rem;
    background-color: white;
}
.nav-link{
    color: #222222 !important;
}

.w-home:hover{
 background-color: rgba(0, 0, 0, 0.355);
 border-radius: 20px;

}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.f-info{
    min-height: 5rem;
    max-height: 15rem;
    background-color: #ebebeb;
    text-align: center;
    display: flex;
   
    justify-content: center;
    flex-wrap: wrap;

}
.f-info-links a{
 color: #222222;
 text-decoration: none;
}
.f-info-links a:hover{
  text-decoration: underline;
}
.f-info-social ,.f-info-links ,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-left: 5px;
}



/* listing page */

/* card */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.5;
    background-color: white;
}
.listing-card{
    border: none !important;
    margin: none;
}
.card img{
    width: 25rem !important ;
    height: 25rem !important;
    border-radius: 1rem !important;
}
.card-text{
    font-weight: 400 !important;
}
.card a {
    text-decoration: none !important;
    color: inherit !important;
}
/* new page  styling */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* show page */
.btns{
    display: flex;
    gap: 2rem;
}
.show-img{
    height: 50vh;
}

